<div class="col-md-6">
  <h2 class="text-center">Add Location</h2>
<form>
  <div class="form-group">
    <label for="place">Place:</label>
    <input type="place" [(ngModel)]="location.place" placeholder="Place" name="place" class="form-control" id="place">
  </div>

  <div class="form-group">
    <input type="file" multiple (change)="selectFile($event)">
  </div>
  <button class="btn btn-success" (click)="createLocation()">Create</button>
</form>
</div>
