<div class="col-md-6">
<h2> Search location's attachments</h2>

<form>
  <div class="form-group">
    <input type="text" placeholder="Place" name="place" class="form-control" id="place" [(ngModel)]="placeInput">
  </div>
  <button class="btn btn-success" (click)="listFiles()">Search</button>
</form>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Filename</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let file of files">
    <td>
      <button type="button" class="btn btn-link" (click)="getFile(this.place, file)">{{file}}</button>
    </td>
  </tr>
  </tbody>
</table>
</div>