<div class="container-fluid">
	<a routerLink="/users"> List Users</a>
	<a style="margin-left:10px" routerLink="/add">Add User</a>
	<a routerLink="/locations"> List Locations</a>
	<a style="margin-left:10px" routerLink="/addl">Add Location</a>
	<a routerLink="/likes"> List Likes</a>
	<a style="margin-left:10px" routerLink="/add2">Add Like</a>
	<br/>
<router-outlet></router-outlet>
</div>
