<div class="col-md-6">
  <h2 class="text-center">Add User</h2>
<form>
  <div class="form-group">
    <label for="email">Email address:</label>
    <input type="email" [(ngModel)]="user.email" placeholder="Email" name="email" class="form-control" id="email">
  </div>

  <div class="form-group">
    <label for="username">Username:</label>
    <input [(ngModel)]="user.username" placeholder="Username" name="username" class="form-control" id="username">
  </div>

  <div class="form-group">
    <label for="fullname">Fullname:</label>
    <input [(ngModel)]="user.fullname" placeholder="Full name" name="fullname" class="form-control" id="fullname">
  </div>

  <div class="form-group">
    <label for="password">Password:</label>
   <input [(ngModel)]="user.password" placeholder="Password" type="password" name="password" class="form-control" id="password">
  </div>

  <div class="form-group">
    <label for="birthdate">Birthdate:</label>
    <input [(ngModel)]="user.birthdate" placeholder="Birthdate" name="birthdate" class="form-control" id="birthdate">
  </div>
  <div class="form-group">
    <input type="file" multiple (change)="selectFile($event)">
  </div>
  <button class="btn btn-success" (click)="createUser()">Create</button>
</form>
</div>
