<div class="col-md-6">
  <h2 class="text-center">Add Like</h2>
<form>
  <div class="form-group">
    <label for="like1">Like:</label>
    <input type="like1" [(ngModel)]="like.like1" placeholder="Like" name="like1" class="form-control" id="like1">
  </div>

  <div class="form-group">
    <input type="file" multiple (change)="selectFile($event)">
  </div>
  <button class="btn btn-success" (click)="createLike()">Create</button>
</form>
</div>
