<div class="col-md-6">
<h2> Search like's attachments</h2>

<form>
  <div class="form-group">
    <input type="text" placeholder="Like" name="like1" class="form-control" id="like1" [(ngModel)]="like1Input">
  </div>
  <button class="btn btn-success" (click)="listFiles()">Search</button>
</form>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Filename</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let file of files">
    <td>
      <button type="button" class="btn btn-link" (click)="getFile(this.like1, file)">{{file}}</button>
    </td>
  </tr>
  </tbody>
</table>
</div>